<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{470,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,260}}</string>
                <key>sourceSize</key>
                <string>{470,260}</string>
            </dict>
            <key>people.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{109,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,190}}</string>
                <key>sourceSize</key>
                <string>{109,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>parts.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c5267643d614942c24c7d02d8d607ed:304a0978e7f7b6e3666544e9f4f2dde2:cb4c29f93e69ab68a172298a9c84655a$</string>
            <key>textureFileName</key>
            <string>parts.png</string>
        </dict>
    </dict>
</plist>
